@model IEnumerable<TimeMachine.Services.Models.Home.IndexUserViewModel>;

@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="list-group">
		@foreach (var userProfile in Model)
		{
			<a href="#" class="list-group-item list-group-item-action">@userProfile.FullName</a>
			<a href="#" class="list-group-item list-group-item-action">@userProfile.BirthDate</a>
		}
	</div>
</div>