@model TimeMachine.Services.Models.TimeMachineUsers.UserProfileViewModel;

@inject SignInManager<TimeMachineUser> SignInManager
@inject UserManager<TimeMachineUser> UserManager

@{
	ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{
	<div class="container">
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action">@Model.FullName</a>
			<a href="#" class="list-group-item list-group-item-action">@Model.BirthDate</a>

			@foreach (var modelStory in Model.Stories)
			{
				<a href="#" class="list-group-item list-group-item-action">@modelStory.TextContent</a>
			}
		</div>
	</div>
}
else
{

}

